<%- include("partials/header", {charname: char.firstname}); %>
<img id="demo2" src= "https://thronesapi.com/assets/images/<%= char.image %>"" >
<br/>
<textarea rows="4" cols="50" id="demo"></textarea>
<br/>
<a href="#" class="previous">&laquo; Previous</a>
<a href="#" class="next">Next &raquo;</a>
<%- include("partials/footer"); %>