
    <%- include("partials/header", {charname: "Game of Thrones API"}); %>
       
    <div class="row">
<%  for(var k in characters) { %>
    <div class="col imgcont">
        <img class="imggal" src="<%= characters[k].imageUrl %>">
      <div class="middle">
        <div class="texto-galeria"><%= characters[k].fullName%></div>
      </div>
    </div>
    <% if (k % 4 == 3 ){ %>
    </div>
      <div class="row">
      <% } %>
<% } %>
</div>
    <%- include("partials/footer"); %>\